body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    text-align: center;
    background-color: green
}

li {
    list-style-type: lower-roman;
}

#Content li{
    list-style-type:none;
}

table, th, td{
    border: 1px solid #f2f2f2;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}

th {
height: 50px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

h1, h2 {
    background-color: green;
    color: white;
    text-align: center;
    height: 80px;
}

span{
    margin: 650px;
    padding: 10px;
}

footer{
    background-color: green;
}

marquee{
    margin: 0;
    color: yellow;
}
